<nav class="text-black-50">
    <ul>
        <li><a href="{{ path("product_all") }}">Tous les produits</a></li>
        <li><a href="{{ path("product_add") }}">Ajouter un produit</a></li>
        <li><a href="{{ path("product_crud_index") }}">Product Crud</a></li>
    </ul>
</nav>
