{% extends "base.html.twig" %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    <form>

        <input ng-model="xxx" type="text" />

        <button ng-show="xxx">ok</button>

        [[ xxx ]]

    </form>

{% endblock %}